<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="product-container">
<% allProduct.forEach(product => { %>
    <div class="card" style="width: 18rem;">
        <img src="<%= product.imageUrl %>" class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text"><%= product.price %></p>
          <h5 class="card-title"><%= product.productName %></h5>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text"><%= product.createdAt %></p>
          <a href="/product/show/<%= product._id%>" class="btn btn-primary">show</a>
        </div>
      </div>
<% }); %> 
</div>

<%- include("partials/footer") %>